.container {
    background-image: url(../../assets/sports-scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--bg-primary);

    margin: var(--gap) 0;
    padding: var(--spacing-medium);

    border-radius: var(--radius);

    display: flex;
    height: 400px;
}

.start {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact-container {
    position: relative;
    margin: 0 var(--spacing-small);
}
.contact-text,
.contact-arrow {
    width: 75px;
    aspect-ratio: 1;
    border: 1px solid var(--bg-primary);
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: inset 12px -50px 15px 50px rgba(255,255,255,0.25);
    font-size: .8rem;
}
.contact-text {
    position: absolute;
    top: -60px;
}

.middle {
    flex-grow: 1;
    margin: 0 var(--spacing-large);

    h1 {
        font-weight: normal;
        text-align: left;
    }

}

.end {
    flex-grow: 1;
    position: relative;
}

