@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand_Dash.otf') format('otf');
}

#root {
  --color-primary: #080345;
  --color-tertiary: rgba(219, 216, 253, 80%);
  --color-white: #F9F8FF;
  --color-secondary: #E19A65;
  --transition-time: .5s;

  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;

  font-family: 'Quicksand', sans-serif;
  color: var(--color-primary);
  background-color: var(--color-white);
}
