.tagline-container {
    margin-bottom: 2rem;

    .technologies {
        display: flex;
        justify-content: center;
        position: relative;
        min-height: 110px;
    }

    a {
        width: 90px;
        aspect-ratio: 1;

        display: grid;
        place-items: center;

        &:nth-child(2) {
            transform: rotate(-30deg);
            position: relative;
            top: -10px;
        }
        &:nth-child(3) {
            z-index: 1;
            position: relative;
            top: -10px;
            left: -5px;
        }

        p {
            display: none;
        }
    }

    a:hover {
        p {
            display: block;
            transition: calc(var(--transition-time)/2);
        }
    }

    img {
        width: 72px;
        aspect-ratio: 1;
        padding: 2px;
        border: 4px solid var(--color-tertiary);
        border-radius: 27px;
        background-color: white;

    }

    img:hover {
        width: 80px;
        transition: calc(var(--transition-time) / 2);
    }
}
