.tech-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;

    a {
        width: 60px;
        aspect-ratio: 1;

        display: grid;
        place-items: center;
    }

    img {
        width: 48px;
        aspect-ratio: 1;
        padding: 2px;
        border: 4px solid var(--color-tertiary);
        border-radius: 22px;
        background-color: white;

        box-shadow: 0 4px 10px rgba(8, 3, 69, 50%);
    }

    img:hover {
        width: 52px;
        transition: calc(var(--transition-time) / 2);
    }
}

